In [1]:
import pandas as pd
import numpy as np

In [2]:
haber = pd.read_csv("../Data/banks.csv")
haber.head()

,Unnamed: 0,title,content,date,bank
0,0,Endekste 101.000 sağlam destek,"""BIST 100 Endeksi, dünü % 0.23 artışla, 102,43...",15 Mart 2019,akbank
1,1,Bankalar uçarken havayolları iniyor,"""Bankalar uçarken havayolları iniyor Dolar güç...",14 Mart 2019,akbank
2,2,Şirket haberleri ve tavsiyeleri 13/3/2019,"Akbank (AKBNK, Öneri ""EKLE"", Nötr): Banka ta...",13 Mart 2019,akbank
3,3,Şirket haberleri ve tavsiyeleri 12/3/2019,"Alarko Holding (ALARK, Sınırlı Pozitif): Alark...",12 Mart 2019,akbank
4,4,Hazine'nin yeni projesine 12 banka ortak oluyor,Hazine ve Maliye Bakanlığı 10 milyon TL sermay...,08 Mart 2019,akbank

In [3]:
months = ["ocak","şubat","mart","nisan","mayıs","haziran","temmuz","ağustos","eylül","ekim","kasım","aralık"]
months_dict = {months[i] : i+1 for i in range(0,12)}

In [4]:
for i in range(len(haber.date)):
    try:
        ay = str(haber.date[i].split()[1].lower())
        haber.date[i] = f"{haber.date[i].split()[0]}.{months_dict[ay]}.{haber.date[i].split()[2]}"
    except Exception as e:
        pass

C:\Users\Emirhan\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [5]:
haber.tail()

,Unnamed: 0,title,content,date,bank
12390,12390,Köymen'den farklı yorumlar!,Haute Couture’nin ustası; Türkiye’nin yetiştir...,28.3.2013,denizbank
12391,12391,O'na ne önerdi?,Haute Couture’nin ustası; Türkiye’nin yetiştir...,27.3.2013,denizbank
12392,12392,'Yüz hatları çok karizmatik',Haute Couture’nin ustası; özgür giyimin markas...,26.3.2013,denizbank
12393,12393,Aracı kurumlar da yabancılaşıyor,Yabancı sermayenin Türkiye’ye olan ilgisi sade...,05.3.2013,denizbank
12394,12394,Bankacıların iddialı 2013 hedefleri,Bütün bankacılar aslında hem fikir. Hepsine gö...,09.1.2013,denizbank

In [6]:
haber.date = pd.to_datetime(haber["date"]).dt.strftime('%d.%m.%Y')

In [7]:
haber.to_csv("banks.csv",index=False)

In [8]:
haber.drop("Unnamed: 0",axis=1,inplace=True)

In [9]:
haber.tail()

,title,content,date,bank
12390,Köymen'den farklı yorumlar!,Haute Couture’nin ustası; Türkiye’nin yetiştir...,28.03.2013,denizbank
12391,O'na ne önerdi?,Haute Couture’nin ustası; Türkiye’nin yetiştir...,27.03.2013,denizbank
12392,'Yüz hatları çok karizmatik',Haute Couture’nin ustası; özgür giyimin markas...,26.03.2013,denizbank
12393,Aracı kurumlar da yabancılaşıyor,Yabancı sermayenin Türkiye’ye olan ilgisi sade...,03.05.2013,denizbank
12394,Bankacıların iddialı 2013 hedefleri,Bütün bankacılar aslında hem fikir. Hepsine gö...,01.09.2013,denizbank

In [10]:
haber.dropna(inplace=True)

In [11]:
haber.reset_index(drop=True,inplace=True)

In [12]:
haber.tail()

,title,content,date,bank
12341,Köymen'den farklı yorumlar!,Haute Couture’nin ustası; Türkiye’nin yetiştir...,28.03.2013,denizbank
12342,O'na ne önerdi?,Haute Couture’nin ustası; Türkiye’nin yetiştir...,27.03.2013,denizbank
12343,'Yüz hatları çok karizmatik',Haute Couture’nin ustası; özgür giyimin markas...,26.03.2013,denizbank
12344,Aracı kurumlar da yabancılaşıyor,Yabancı sermayenin Türkiye’ye olan ilgisi sade...,03.05.2013,denizbank
12345,Bankacıların iddialı 2013 hedefleri,Bütün bankacılar aslında hem fikir. Hepsine gö...,01.09.2013,denizbank

In [175]:
# haber.to_csv("banks.csv",index=False)

## Hisse Oranları

In [13]:
import os
os.listdir("../Data/hisseler")

['.ipynb_checkpoints',
 'ak.csv',
 'deniz.csv',
 'garanti.csv',
 'halk.csv',
 'is.csv',
 'vakif.csv',
 'yapi.csv']

In [14]:
banks = ["akbank","denizbank","garanti","halkbank","is%20bankasi","vakifbank","yapi%20kredi"]
banks_dict = {}
path = "../Data/hisseler/"
index = 0
for i in os.listdir("../Data/hisseler")[1:]:
    banks_dict[banks[index]] =  pd.read_csv(path+i)
    banks_dict[banks[index]].rename(columns={"Tarih":"date"},inplace=True)
    banks_dict[banks[index]].date = pd.to_datetime(banks_dict[banks[index]]["date"])
    banks_dict[banks[index]].set_index("date",inplace=True)
    index +=1

In [15]:
banks_dict["akbank"]

           Şimdi Açılış Yüksek Düşük    Hac.  Fark %
date
2020-10-30  4,77   4,86   4,86  4,75  80,49M  -2,45%
2020-10-28  4,89   4,94   4,98  4,85  33,00M  -1,81%
2020-10-27  4,98   4,88   4,98  4,84  78,33M   2,47%
2020-10-26  4,86   5,01   5,01  4,85  79,71M  -3,95%
2020-10-23  5,06   5,13   5,14  5,01  76,70M  -1,17%
...          ...    ...    ...   ...     ...     ...
2014-08-10  7,01   6,88   7,02  6,88  24,65M  -0,99%
2014-03-10  7,08   7,08   7,08  7,00   4,02M   0,28%
2014-02-10  7,06   7,10   7,20  7,04  24,83M  -0,14%
2014-01-10  7,07   7,28   7,32  7,07  23,07M  -3,02%
2014-09-30  7,29   7,34   7,37  7,25  17,62M   0,00%

[1529 rows x 6 columns]

In [16]:
haber.date = pd.to_datetime(haber["date"])

In [17]:
haber.dtypes

title              object
content            object
date       datetime64[ns]
bank               object
dtype: object

In [18]:
col = ["Şimdi","Açılış","Yüksek","Fark %"]

## Günleri Eşleştirme

In [19]:

hs = {}
for b in banks: 
    liste = []
    liste_date = []
    a  = 0
    for i in haber[haber.bank==b].date:
        tarih = i + pd.Timedelta(days=1)  
        try:
            liste.append(banks_dict[b].loc[tarih,col].values)
            liste_date.append(tarih)
        except:
            try:
                liste.append(banks_dict[b].loc[tarih + pd.Timedelta(days=1),col].values)
                liste_date.append(tarih)
            except:
                try:
                    liste.append(banks_dict[b].loc[tarih + pd.Timedelta(days=2),col].values)
                    liste_date.append(tarih)
                except:
                    liste.append([np.nan,np.nan,np.nan,np.nan])
                    liste_date.append(np.nan)
                    a +=1
    #                 try:
    #                     liste.append(banks_dict["akbank"].loc[tarih + pd.Timedelta(days=3),col].values)
    #                 except:
    #                     try:
    #                         liste.append(banks_dict["akbank"].loc[tarih + pd.Timedelta(days=4),col].values)
    #                     except:
    #                         liste.append(np.nan)
    hs[b] = [liste,liste_date]
    print(a)

21
529
54
27
39
55
44

## Haber ve Günleri Eşleştirme

In [20]:
result = pd.DataFrame()
for b in banks:
    ba = haber[haber.bank==b].reset_index(drop=True)
    data = pd.DataFrame(data=hs[b][0],columns=col)
    tarih = pd.DataFrame(data=hs[b][1],columns=["next_date"])
    conct = pd.concat([ba,tarih,data],axis=1).reset_index(drop=True)
    result = pd.concat([result,conct],axis=0).reset_index(drop=True)

In [21]:
result.dropna(inplace=True)

In [22]:
# result.to_csv("../Data/Labelsız eşleştirilmiş data.csv",index=False)

In [23]:
result.head()

,title,content,date,bank,next_date,Şimdi,Açılış,Yüksek,Fark %
0,Endekste 101.000 sağlam destek,"""BIST 100 Endeksi, dünü % 0.23 artışla, 102,43...",2019-03-15,akbank,2019-03-16,"6,88","6,73","6,92","2,84%"
1,Bankalar uçarken havayolları iniyor,"""Bankalar uçarken havayolları iniyor Dolar güç...",2019-03-14,akbank,2019-03-15,"6,69","6,60","6,72","1,83%"
2,Şirket haberleri ve tavsiyeleri 13/3/2019,"Akbank (AKBNK, Öneri ""EKLE"", Nötr): Banka ta...",2019-03-13,akbank,2019-03-14,"6,57","6,61","6,70","-0,61%"
3,Şirket haberleri ve tavsiyeleri 12/3/2019,"Alarko Holding (ALARK, Sınırlı Pozitif): Alark...",2019-03-12,akbank,2019-03-13,"6,61","6,45","6,66","2,32%"
4,Hazine'nin yeni projesine 12 banka ortak oluyor,Hazine ve Maliye Bakanlığı 10 milyon TL sermay...,2019-03-08,akbank,2019-03-09,"7,27","7,15","7,34","1,39%"

## Label

In [ ]:
result["Fark %"]=result["Fark %"].str.replace("%","")
result["Fark %"]=result["Fark %"].str.replace(",",".")
result["Fark %"]=result["Fark %"].astype("float")

In [37]:
result.tail()

,title,content,date,bank,next_date,Şimdi,Açılış,Yüksek,Fark %
12341,3 Türk banka hissesi için fiyat indirdi,"Ziraat Yatırım, Yapı Kredi Bankası hedef fiyat...",2015-11-02,yapi%20kredi,2015-11-03,"4,037","4,028","4,077",0.47
12342,2 banka hissesi için öneri,"Ziraat Yatırım, ( www.ziraatyatirim.com.tr ) k...",2015-08-10,yapi%20kredi,2015-08-11,"3,360","3,380","3,420",-0.59
12343,Türk bankaları için çok önemli uyarı,"Türk banka hisselerinin dün yüzde 7,4 değer ka...",2015-06-09,yapi%20kredi,2015-06-10,"3,510","3,500","3,560",0.57
12344,12 banka 12 bin 500 personel alacak,Bugünlerde tüm bankalar yeni yılı planlama tel...,2015-01-26,yapi%20kredi,2015-01-27,"5,162","5,201","5,240",-0.56
12345,Cirosunu ve karını katlayan şirketler,Borsadaki BIST 100 firmalarına bakıldığında is...,2014-11-16,yapi%20kredi,2014-11-17,"4,761","4,800","4,869",-0.81

In [48]:
iqr = result.groupby("bank").quantile(0.75) - result.groupby("bank").quantile(0.25)

In [52]:
iqr["Fark %"]["akbank"]/2

1.2149999999999999

In [ ]:
result.groupby("bank").quantile(0.25)

In [56]:
def classify_std(fark,std):
    if fark >= std:
        return 1
    elif fark <= -std:
        return -1
    elif -std< fark < std:
        return 0
    
def classify_mn(fark,mn1,mn2):
    if fark >= mn1:
        return 1
    elif fark <= mn2:
        return -1
    elif mn2< fark < mn1:
        return 0
    
def classify_iqr(fark,iqre):
    if fark >= iqre/2:
        return 1
    elif fark <= -iqre/2:
        return -1
    elif -iqre/2< fark < iqre/2:
        return 0

In [67]:
ls_std = []
ls_mn = []
ls_iqr = []

std_all = result.groupby("bank")["Fark %"].std()
mn1_all = result.groupby(["bank",result["Fark %"] > 0]).median()["Fark %"]
mn2_all = result.groupby(["bank",result["Fark %"] > 0]).median()["Fark %"]
iqr = result.groupby("bank").quantile(0.75) - result.groupby("bank").quantile(0.25)

for b in banks:
    std = std_all.loc[b].item()
    mn1 = mn1_all.loc[b].loc[True].item() 
    mn2 = mn2_all.loc[b].loc[False].item() 
    iqre = iqr["Fark %"][b]
    data = result[result.bank==b]
    
    for d in data.values:
        fark = d[-1]
        ls_std.append(classify_std(fark,std))
        ls_mn.append(classify_mn(fark,mn1,mn2))
        ls_iqr.append(classify_iqr(fark,iqre))
#     data = result[result.bank==b]
#     result[result.bank==b]["label_std"] = data.apply(lambda x:classify_std(x["Fark %"],std),axis=1)
#     result[result.bank==b]["label_median"] = data.apply(lambda x:classify_mn(x["Fark %"],mn1,mn2),axis=1)

In [68]:
orj_result = result.copy()

In [70]:
result["label_std"] = ls_std
result["label_median"] = ls_mn
result["label_iqr"] = ls_iqr

In [73]:
result.tail(20)

,title,content,date,bank,next_date,Şimdi,Açılış,Yüksek,Fark %,label_std,label_median,label_iqr
12326,Bankacılardan iflas erteleme önerileri!,İflas erteleme kararlarının da etkisiyle tahsi...,2016-04-04,yapi%20kredi,2016-04-05,"4,070","4,150","4,180",-1.45,0,-1,-1
12327,Fitch'den Yapı kredi'ye not!,"Fitch Ratings, Yapı ve Kredi Bankası, Yapı Kre...",2016-04-01,yapi%20kredi,2016-04-02,"3,890","3,820","3,900",2.91,0,1,1
12328,132 milyar dolarlık kredi izlemesi!,Son dönemde Türkiye'de Küçük ve Orta Büyüklükt...,2016-03-31,yapi%20kredi,2016-04-01,"3,220","3,230","3,250",-2.13,0,-1,-1
12329,Yapı Kredi Leasing sektör lideri,Yapı Kredi Leasing'den yapılan açıklamaya göre...,2016-03-27,yapi%20kredi,2016-03-28,"3,900","3,930","3,960",-0.51,0,0,0
12330,Yapı Kredi eklendi Halkbank çıktı!,"Burgan Yatırım, en çok önerdiği hisseler liste...",2016-03-24,yapi%20kredi,2016-03-25,"3,920","3,930","3,950",0.26,0,0,0
12331,Gayrimenkulün devleri İstanbul'da,İstanbul Kongre Merkezi’nde bugün başlayacak v...,2016-03-24,yapi%20kredi,2016-03-25,"3,920","3,930","3,950",0.26,0,0,0
12332,Finansın ünlü aktörleri nasıl giyiniyor?,BERRİN UYANIK BEKAR – FINANSGUNDEM.COM / ÖZEL ...,2016-03-22,yapi%20kredi,2016-03-23,"3,830","3,930","3,960",-3.28,-1,-1,-1
12333,"Yapı Kredi, kredi kartı pazarında iddialı",Türkiye'yi ilk kez kredi kartı ile tanıştıran ...,2016-03-14,yapi%20kredi,2016-03-15,"3,910","3,970","3,970",-1.26,0,-1,-1
12334,Tezgah altı faiz % 14’e çıktı,Mart sonu bilanço kapama telaşına giren bankal...,2016-03-14,yapi%20kredi,2016-03-15,"3,910","3,970","3,970",-1.26,0,-1,-1
12335,Silopi ve Cizre'de 3 bin 700 gence iş,"Kalkınma Bakanı Cevdet Yılmaz, Konya Milletvek...",2016-03-12,yapi%20kredi,2016-03-13,"3,960","3,950","3,980",-0.25,0,0,0
12336,"Nijerya, Türk iş adamlarından 'tavizli kredi' ...",İşte Vahap Munyar'ın 'Tavizli kredi' getirin N...,2016-03-11,yapi%20kredi,2016-03-12,"3,960","3,950","3,980",-0.25,0,0,0
12337,Bankalar endeksin gerisinden geliyor,Ak Yatırım bugün bankacılık sektörüne ilişkin ...,2016-03-09,yapi%20kredi,2016-03-10,"2,358","2,384","2,404",-0.30,0,0,0
12338,Yapı Kredi'den perakendeciye yeni fırsat,Yapı Kredi Bireysel Bankacılık ve Kartlı Ödeme...,2016-03-09,yapi%20kredi,2016-03-10,"2,358","2,384","2,404",-0.30,0,0,0
12339,5 kurumdan portföy önerisi,"Portföy yöneticilerine göre, yılın ilk yarısın...",2016-01-12,yapi%20kredi,2016-01-13,"3,430","3,400","3,470",1.18,0,0,1
12340,Vade farksız 27 konut projesi,"Seçimler geride kaldı, gayrimenkul piyasası ha...",2015-11-24,yapi%20kredi,2015-11-25,"3,480","3,520","3,530",0.58,0,0,0
12341,3 Türk banka hissesi için fiyat indirdi,"Ziraat Yatırım, Yapı Kredi Bankası hedef fiyat...",2015-11-02,yapi%20kredi,2015-11-03,"4,037","4,028","4,077",0.47,0,0,0
12342,2 banka hissesi için öneri,"Ziraat Yatırım, ( www.ziraatyatirim.com.tr ) k...",2015-08-10,yapi%20kredi,2015-08-11,"3,360","3,380","3,420",-0.59,0,0,0
12343,Türk bankaları için çok önemli uyarı,"Türk banka hisselerinin dün yüzde 7,4 değer ka...",2015-06-09,yapi%20kredi,2015-06-10,"3,510","3,500","3,560",0.57,0,0,0
12344,12 banka 12 bin 500 personel alacak,Bugünlerde tüm bankalar yeni yılı planlama tel...,2015-01-26,yapi%20kredi,2015-01-27,"5,162","5,201","5,240",-0.56,0,0,0
12345,Cirosunu ve karını katlayan şirketler,Borsadaki BIST 100 firmalarına bakıldığında is...,2014-11-16,yapi%20kredi,2014-11-17,"4,761","4,800","4,869",-0.81,0,0,0

In [74]:
result.drop(["title","date","next_date","Şimdi","Açılış","Yüksek"],axis=1,inplace=True)

In [75]:
result.to_csv("../Data/Labelled_news.csv",index=False)

In [76]:
result.head()

,content,bank,Fark %,label_std,label_median,label_iqr
0,"""BIST 100 Endeksi, dünü % 0.23 artışla, 102,43...",akbank,2.84,1,1,1
1,"""Bankalar uçarken havayolları iniyor Dolar güç...",akbank,1.83,0,1,1
2,"Akbank (AKBNK, Öneri ""EKLE"", Nötr): Banka ta...",akbank,-0.61,0,0,0
3,"Alarko Holding (ALARK, Sınırlı Pozitif): Alark...",akbank,2.32,1,1,1
4,Hazine ve Maliye Bakanlığı 10 milyon TL sermay...,akbank,1.39,0,1,1